<select ng-model="ctrl.currentBusLine" ng-options="item as item.name for item in ctrl.bus"  ng-change="ctrl.changeBusLine()">
</select>

<div>
    <select ng-model='ctrl.start' ng-options="item as item.name for item in ctrl.stops" ng-change="ctrl.changeStart()" >
    </select>

    <select ng-model='ctrl.stop' ng-options="item as item.name for item in ctrl.stops" ng-change="ctrl.changeStop()" >
    </select>
</div>

<ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom' bounds='ctrl.map.bounds' options="ctrl.map.options">
    <ui-gmap-marker idkey='ctrl.stop.id' coords='ctrl.stop' options='ctrl.stop.options' ></ui-gmap-marker>
    <ui-gmap-marker idkey='ctrl.start.id' coords='ctrl.start' options='ctrl.start.options' ></ui-gmap-marker>
    <ui-gmap-polyline ng-repeat="path in ctrl.paths" path='path' stroke="path.stroke" ></ui-gmap-polyline>
</ui-gmap-google-map>

<button ng-click="ctrl.selectStops()">Select Stops</button>
<div ng-show="ctrl.loading">
    <i class="fa-li fa fa-spinner fa-spin"></i>
</div>
<div ng-if="ctrl.commuteData">
    <dl>
        <dt>Commute distance:</dt>
        <dd>{{ctrl.commuteData.distance}} km</dd>
        <dt>Average speed:</dt>
        <dd>{{ctrl.commuteData.speed }} km/h</dd>
        <dt>CO2 Emission:</dt>
        <dd>2.6 kg/l</dd>
        <dt>Average gaz usage:</dt>
        <dd>20l/100km</dd>
    </dl>
</div>
