.maths-exercise {

    h2 {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }

    .step-container {
        position: relative;
    }

    .step {
        font-family: Proxima;
        color: #10A2F2;
        font-size: 23px;
        margin: 30px 50px;
        position: absolute;
    }

    .statement {
        font-size: 24px;
        text-align: center;
        padding-top: 25px;
    }

    .statement-desc {
        font-size: 18px;
        color: #BFBFBF;
        text-align: center;
        font-family: Proxima;
    }

    .lines-container {
        max-width: 880px;
        margin: 30px auto;
        list-style-type: none;

        &> li {
            display: block;
            float: left;
            color: #fff;
            background-color: #CFCFCF;
            border-radius: 50px;
            font-size: 20px;
            padding: 4px 15px 2px 15px;
            margin: 8px 10px;
            width: 70px;
            text-align: center;

            &> a {
                display: block;

                &:hover {
                    color: #fff;
                }
            }

            &.active {
                background-color: #ED3D3D;
            }
        }
    }

    .card-footer {
        border-top: 1px solid #F3F3F3;
        margin: 20px 0px;
        text-align: center;
    }

    .next-btn {
        font-size: 20px;
        padding: 15px 50px;

        &:hover, &:active, &:focus {
            color: #fff;
            outline: none;
        }
    }

    &.step2 {

        .step-container {
            margin-top: 20px;
        }

        .stops-selector {
            max-width: 710px;
            margin: auto;
            padding-top: 10px;

            .range-distance {
                display: inline-block;
                padding: 6px 18px;
                border: 4px solid #EFEFEF;
                border-radius: 4px;
                font-size: 24px;
                text-align: center;
                margin: 0px 20px;
            }

            .dropdown-stop-selection {

                button {
                    background-color: white;
                    border-bottom: 3px solid #F3F3F3;
                    text-align: left;
                    font-size: 22px;

                    span.title-current-stop {
                        display: inline-block;
                        width: 95%;
                    }
                }
                ul {
                    width: 100%;
                    max-height: 300px;
                    overflow: auto;
                }
                li {
                    padding: 3px 15px;
                }
                li:hover {
                    background-color: grey;
                    color: white;
                    cursor: pointer;
                }
                .caret {
                    margin-left: 8px;
                    color: #2D93D2;
                    border-width: 8px;
                }
            }
        }

        buses {
            display: block;
            margin: 45px 45px 30px 45px;
        }

        .bus-infos {
            max-width: 930px;
            margin: auto;

            span {
                display: block;
                float: left;
            }

            .label {
                color: #BFBFBF;
                font-size: 18px;
                font-family: Proxima;
                margin-left: 20px;
                height: 50px;
            }

            .value {
                font-size: 20px;
            }

            .line-number {
                margin-top: -5px;
                color: #fff;
                background-color: #ED3D3D;
                border-radius: 50px;
                font-size: 20px;
                padding: 4px 15px 2px 15px;
            }
        }

        .card-footer {
            .badge {
                margin-top: 20px;
            }
        }
    }

    &.step3 {

        .left-section {
            width: 70%;
            height: 500px;
            float: left;
        }

        .step-container {
            margin-top: 20px;
        }

        .statement {
            padding-top: 90px;
            font-size: 24px;
            padding-left: 50px;
            padding-right: 110px;
            text-align: left;
        }

        .answer-label {
            color: #BFBFBF;
            font-family: Proxima;
            font-size: 23px;
            padding-left: 50px;
            margin-top: 40px;
        }

        .answer-input {
            display: block;
            margin-left: 50px;
            margin-top: 10px;
            width: 70%;
            border: none;
            border-bottom: 3px solid #EFEFEF;
            font-size: 23px;

            &:focus, &:active {
                outline: none;
            }
        }

        .right-section {
            border-left: 1px solid #F3F3F3;
            width: 30%;
            float: left;
            padding: 10px 30px;

            buses {
                display: block;
                margin: 35px 0px 30px 0px;

                .angular-google-map-container {
                    height: 185px;
                }
            }

            .bus-infos {
                margin-bottom: 30px;

                span {
                    display: block;
                    float: left;
                }

                .label {
                    color: #BFBFBF;
                    font-size: 18px;
                    font-family: Proxima;
                    height: 50px;
                }

                .value {
                    font-size: 20px;
                    float: right;
                }

                .line-number {
                    float: right;
                    margin-top: -5px;
                    color: #fff;
                    background-color: #ED3D3D;
                    border-radius: 50px;
                    font-size: 20px;
                    padding: 4px 15px 2px 15px;
                }
            }
        }

        .card-footer {
            margin-top: 0px;

            .badge {
                margin-top: 30px;
            }
        }
    }
}

