<div class="container-fluid">
    <div class="col-md-5 quarters-info">
        <div>
            Pick the right name of the highlighted district on the map.
        </div>
        <div class="btn-group dropdown-quarters-selection" uib-dropdown>
            <button ng-model="ctrl.currentQuarter" type="button" class="btn" uib-dropdown-toggle>
                <span class="title-current-quarter">{{ ctrl.currentQuarter.name || "Which quarter ?" }}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu >
                <li ng-repeat="item in ctrl.optionsToKnow track by $index" ng-click="ctrl.currentQuarter = item; ctrl.itIsAwesome()"> {{ item.name }}</li>
            </ul>
        </div>
        <h1>
            <span class="correct-quarters-answer" ng-if="ctrl.response">Correct !</span>
            <span ng-if="ctrl.response === false">Try again..</span>
        </h1>
    </div>
    <div>
        <ui-gmap-google-map center="ctrl.map.center" zoom="ctrl.map.zoom" bounds="ctrl.map.bounds" options="ctrl.map.options">
            <ui-gmap-polygon path="ctrl.polygon"></ui-gmap-polygon>
        </ui-gmap-google-map>
    </div>
</div>

<div class="new-quarter">
    <a class="badge" ng-click="ctrl.randomQuarter()">New</a>
</div>
