<a id="sidebar-trigger"><i class="ei-double-arrow-right"></i></a>
<nav id="sidebar">
    <ul>
        <li ui-sref-active="active">
            <a ui-sref="live">
                <i class="ei-view"></i><span class="title">Live</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="records">
                <i class="ei-cctv"></i><span class="title">Record</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="settings">
                <i class="ei-settings"></i><span class="title">Settings</span>
            </a>
      </a>
        </li>
    </ul>
</nav>
